.book{
    width: 250px;
    height: 250px;
    margin: auto;
    padding: auto;
    background-color: antiquewhite;
    text-align: center;
    border: 2px solid brown;
    border-radius: 20px;
}
.header{
    height: 10vh;
    width: 100%;
    background-color: black;
    color:white;
}
.footer{
    height: 10vh;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    margin:auto;
}
.bookstore{
    height: 84vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}